@font-face {
  font-family: general;
  src: url("../fonts/Cabin-Medium.ttf");
}

@font-face{
  font-family: display;
  src: url("../fonts/Generica.ttf");
}

/*{
  border: solid black;
}*/

.title{
  width: 100%;
  color: white;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-top: 150px;
  text-shadow: 0px 3px grey;
  font-size: 70px;
  font-family: general, Helvetica, sans-serif;
}

.text{
  text-align: center;
  font-size: 28px;
  font-family: display, Helvetica, sans-serif;
}

.input{
  margin: 5px auto;
  display: block;
}

.btn{
  width: 300px;
  display: inline-block;
  margin: 10px 2px;
  text-align: center;
  position: relative;
  text-decoration: none;
  border: none;
  transition: transform 0.2s;
  color: white;
  background-color: #8edbf9;
  font-size: 60px;
  font-family: general, Helvetica, sans-serif;
}

.btn.back{
  width: 250px;
  font-size: 50px;
  background-color: #f0826e;
}

.btn:hover{
  transform: scale(1.05);
  border: solid dimgrey;
  border-bottom: solid dimgrey 5px;
}

.space{
  padding: 10px;
  text-align: center;
  color:white;
  background-color: #e69191;
  font-family: general, Helvetica, sans-serif;
}
